<html>
    <head>
        <title>El blog de Jusseppe</title>
    </head>
    <body>
        <div>
            <h1>Bienvenidos</h1>
        </div>

        <div>
            <em>Esta pagina web es solo una prueba... gracias por visitarnos</em>
        </div>

        <div>
            <h2>Quien soy yo?</h2>
        </div>

        <div>
            <p>Hola a todos, mi nombre es Alvaro Jusseppe Cespedes Gonzalez y soy nuevo en el area de la programacion!
        </div>
    </body>
</html>
        
